<div class="main-content">
  <div class="text1">
    <div class="text-content">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h1>About</h1>
      <p>Uplift Foundation is a national level development organisation directly benefitting over 100,000 children and their families every year.</p>
    </div>
  </div>
  <div class="text2">
    <div class="text-content">
      <i class="icon fas fa-bullseye fa-4x"></i>
      <h1>Belief</h1>  
      <p>Uplift Foundation strongly believes that unless members of the civil society are involved proactively in the process of development, sustainable change will not happen.</p>
    </div>
  </div>
  <div class="text3">
    <div class="text-content">
      <i class="icon fas fa-heart fa-4x"></i>
      <h1>Assured Work</h1>  
      <p>You will get details of every penny you give or your money will be returned.</p>
   </div>
  </div>  
    
</div>
