<div class="main-content">
  <div class="text-content">
    <h1>Welcome </h1>
    <h1>To </h1>
    <h1>Uplift </h1>
    <h1>Foundation.</h1>
    <p>Support us in our journey.</p>
    <button class="donate-button">Donate Now</button>
    
  </div>
  <div class="image-content">
    
    <!-- <img src="https://as2.ftcdn.net/v2/jpg/01/06/44/71/500_F_106447102_J34Unmwrz6fnyNMtUiNhZW58e2Rz7s8H.jpg" alt="uplift Image"/> -->
    <img  src="https://t3.ftcdn.net/jpg/03/42/30/26/240_F_342302621_6jnU7K8wTQclIPnZ4AR6nXClE20LJCTG.jpg" alt="uplift Image"/>
  
  
</div>